# copy this file as .env and replace your grok api key
# also don't forget to create the environment variables in vercel

# grok example
# provide api key for grok, see: https://console.groq.com/keys
AI_PROVIDER=groq
AI_URL=https://api.groq.com/openai/v1/chat/completions
AI_KEY=gsk_RV***********************************************9F4
AI_MODEL=openai/gpt-oss-20b

# documentation

# AI_PROVIDER=groq // mandatory, valid options grok, ollama
# AI_URL=https://api.groq.com/openai/v1/chat/completions // optional, with defaults for groq or ollama
# AI_KEY=gsk_RV***********************************************9F4 // mandatory for grok
# AI_MODEL=openai/gpt-oss-20b // optional, with defaults for groq or ollama

# grok default configuration
# AI_PROVIDER=groq
# AI_URL=https://api.groq.com/openai/v1/chat/completions
# see: https://console.groq.com/keys
# AI_KEY=gsk_RV***********************************************9F4
# AI_MODEL=openai/gpt-oss-20b

# ollama default configuration
# AI_PROVIDER=ollama
# AI_URL=http://localhost:11434/api/generate
# AI_MODEL=llama3.2:1b